[Unit]
Description=X735 monitor service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/x735.sh monitor

[Install]
WantedBy=multi-user.target
